@using Budget_System.Models
@*@model IEnumerable<Budget.Models.Budget_t>*@

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var table = ViewBag.t;
}

<head>
    <title>
        ViewBag.Title
    </title>
</head>

<script type="text/javascript">
    $(document).ready(function () {
        $("[data-fancybox]").fancybox({
            afterClose: function () {
                history.go(0);
            }
        });
    });

    var value = "";
    $(document).ready(function () {
        $("td").click(function () {
            var Row = $(this).closest("tr").index() + 1;
            // first Column
            value = $("table:eq(0) tr:eq(" + Row + ") td:eq(5)").text().trim();
            getTeams();
        });
    });

    function getTeams() {
        $("#tbTeams").empty();
        $.ajax({
            type: 'POST',
            url: '/Home/AjaxGetTeams',
            data: { Puid: value },
            success: function (data) {
                let fcss = 'data-fancybox data-options=\'{"type" : "iframe", "iframe" : {"preload" : false,"css" : {"width" : "450","height" : "400"}}}\'>Item</a></td>';
                for (var j = 0; j < data.length; j++) {
                    $("#tbTeams").append("<tr>"
                        + "<td>" + data[j].Bugda + "</td>"
                        + "<td>" + data[j].Bugna + "</td>"
                        + "<td>" + data[j].Total + "</td>"
                        + "<td> <a href=Items2?Uid=" + data[j].Uid + "&Bugda=" + data[j].Bugda + " "
                        + fcss
                        + "</tr>");
                }
            }
        })
    };

    $(document).ready(function () {
        $('.table tr').click(function () {
            $('.table tr').css('background-color', 'white');
            $(this).css('background-color', '#B0E0E6');

        });
    });
</script>
<p></p>
@Html.ActionLink("Create", "Create", "Home")

<div class="A1">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Bno</th>
                <th scope="col">Month</th>
                <th scope="col">Total</th>
                <th scope="col">Dept</th>
                <th scope="col">Lev</th>
                <th scope="col" style="display:none">Uid</th>
                <th scope="col">Edit</th>
                <th scope="col">Approve</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in table)
            {
                <tr>
                    <td id="Bno">
                        @item.Bno
                    </td>
                    <td align="left">
                        @item.Month
                    </td>
                    <td align="left">
                        @item.Total
                    </td>
                    <td>
                        @item.Dept
                    </td>
                    <td>
                        @item.Lev
                    </td>
                    <td style="display:none">
                        @item.Uid
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Subject", new { Bno = item.Bno })
                    </td>
                    <td>
                        <a data-src="/Home/Signoff?Bno=@item.Bno" href="javascript:;"
                           data-fancybox data-options='{"type" : "iframe", "iframe" : {"preload" : false,
                                                        "css" : {"width" : "500px","height" : "350px"}}}'>
                            Approve
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<p></p>
<p></p>

<input type="hidden" id="hTeams" value="" />
<div class="B1">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Bugda</th>
                <th scope="col">Bugna</th>
                <th scope="col">Total(Item)</th>
                <th scope="col" style="display:none">Uid</th>
                <th scope="col">Items</th>
            </tr>
        </thead>
        <tbody id="tbTeams">
        </tbody>
    </table>
</div>
