@model Budget_System.Models.Budget_Items
@{
    Layout = null;
    ViewBag.Title = "Items";
    var table = ViewBag.h;
    var Puid = ViewBag.k;
    var Bugda = ViewBag.Bugda;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <title>
        ViewBag.Title
    </title>

    <script type="text/javascript">
        $(document).ready(function () {
            // Calculate the amount
            $("tr").keyup(function () {
                if ($(this).find("td").find("input")[2].value == '' || $(this).find("td").find("input")[3].value == '' ||
                    $(this).find("td").find("input")[2].value == 0 || $(this).find("td").find("input")[3].value == 0) {
                    $(this).find("td").eq(5).html(0);
                }
                else {
                    $(this).find("td").eq(5).html($(this).find("td").find("input")[2].value * $(this).find("td").find("input")[3].value);
                }
            });
            
            $("body").on("click", "#btnAdd", function () {
                //Reference the Name and Country TextBoxes.
                var txt1 = $("#txt1");
                var txt2 = $("#txt2");
                var txt3 = $("#txt3");
                var txt4 = $("#txt4");
                var txt5 = $("#txt5");
                var txt6 = $("#txt6");

                if (jQuery.trim(txt1.val()) == "") {
                    alert("序號不可為空!");
                    $("#txt1").focus();
                    return false;
                };
                if (jQuery.trim(txt2.val()) == "") {
                    alert("備註不可為空!");
                    $("#txt2").focus();
                    return false;
                };
                if (jQuery.trim(txt3.val()) == "") {
                    alert("單價不可為空!");
                    $("#txt3").focus();
                    return false;
                };
                if (jQuery.trim(txt4.val()) == "") {
                    alert("數量不可為空!");
                    $("#txt4").focus();
                    return false;
                };

                //Add Name cell.
                //Clone new Add list
                var extendObject = $('tfoot').children().clone(true);
                extendObject.find('input[id="btnAdd"]').attr("type", "button");
                extendObject.find('input[id="btnAdd"]').attr("class", "btn btn-outline-danger");
                extendObject.find('input[id="btnAdd"]').attr("onclick", "Remove(this);");
                extendObject.find('input[id="btnAdd"]').val("Delete");
                $('tbody').append(extendObject);

                txt1.val("");
                txt2.val("");
                txt3.val("");
                txt4.val("");
                txt5.val("");
                txt6.val("N");
            });
        });


        function Remove(button) {
            //Determine the reference of the Row using the Button.
            var row = $(button).closest("tr");
            var name = row.find("td").find("input")[0].value;
            if (confirm("Do you want to delete: " + name + " ?")) {
                // 狀態改X
                row.find("td").find("input")[5].value = 'X';
                // 此列hide
                row.hide();
                //Delete the Table row using it's Index.
                //table.deleteRow(row[0].rowIndex);
            }
        };

        function RemoveAll() {
            if (confirm("Do you want to delete all ? ")) {
                $('#tblCustomers > tbody  > tr').each(function () {
                    $(this).find("td").find("input")[6].value = 'X';
                    $(this).hide();
                });
            }
        };

        $(document).ready(function () {
            $("body").on("click", "#btnSave", function () {
                //Loop through the Table rows and build a JSON array.
                var customers = new Array();
                $("#tblCustomers > tbody > tr").each(function () {
                    let row = $(this);
                    let customer = {};

                    customer.Items = row.find("td").find("input")[0].value;
                    customer.Remark = row.find("td").find("input")[1].value;
                    customer.Amount = row.find("td").find("input")[2].value;
                    customer.Price = row.find("td").find("input")[3].value;
                    customer.Total = row.find("td").eq(5).html();
                    customer.Puid = row.find("td").eq(7).html();
                    customer.Uid = row.find("td").eq(8).html();
                    customer.sctrl = row.find("td").find("input")[5].value;
                    customers.push(customer);
                });

                //Send the JSON array to Controller using AJAX.
                $.ajax({
                    type: "POST",
                    url: "/Home/InsertCustomers",
                    data: JSON.stringify(customers),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        if (r == 1) {
                            alert("Saved successfully.");
                            parent.$.fancybox.close();
                        }
                    }

                });
            });
        });
    </script>

    <style>
        .ui-resizable-helper {
            border: 2px dotted #00F;
        }

        th {
            border: 1px solid #000;
            padding: 5px;
            height: 15px !important;
            overflow: hidden;
            text-overflow: clip;
            white-space: nowrap;
            text-align: left;
        }

        .table td {
            height: 30px;
            /*border: 1px solid #000;*/
            padding: 1px;
            overflow: hidden;
            text-overflow: clip;
            text-align: left;
        }

            .table td > input {
                width: 100px;
            }

        #edit_input {
            height: 100%;
            width: 100%;
        }
    </style>
</head>

<body>
    <div>
        <div>
            <h2>Items</h2>
            <p></p>
            <input type="button" class="btn btn-outline-danger" id="btnRemAll" value="Remove All" onclick="RemoveAll()" />
            <span style="letter-spacing:20px;"></span>
            <input type="button" class="btn btn-outline-success" id="btnSave" value="Save All" />
            <p></p>
        </div>

        <div class="A1">
            <table id="tblCustomers" class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Bugda</th>
                        <th scope="col">Items</th>
                        <th scope="col">Remark</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                        <th scope="col"></th>
                        <th scope="col" style="display:none">Puid</th>
                        <th scope="col" style="display:none">Uid</th>
                        <th scope="col" style="display:none" ></th>
                    </tr>
                </thead>
                <tbody id="tbTeams" style="background-color:#e4e4e4">
                    @foreach (var item in table)
                    {
                        <tr>
                            <td>@Bugda</td>
                            <td><input type="text" value="@item.Items" /></td>
                            <td><input type="text" value="@item.Remark" /></td>
                            <td><input type="text" value="@item.Amount" align="left" /></td>
                            <td><input type="text" value="@item.Price" align="left" /></td>
                            <td>@item.Total</td>
                            <td>
                                <input type="button" class="btn btn-outline-danger" id="btnRem" value="Remove" onclick="Remove(this)" />
                            </td>
                            <td style="display:none">@item.Puid</td>
                            <td style="display:none">@item.Uid</td>
                            <td style="display:none" ><input type="text" value="@item.sctrl" /></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>@Bugda</td>
                        <td><input type="text" id="txt1" /></td>
                        <td><input type="text" id="txt2" /></td>
                        <td><input type="text" id="txt3" /></td>
                        <td><input type="text" id="txt4" /></td>
                        <td id="txt5"></td>
                        <td><input type="button" class="btn btn-success" id="btnAdd" value="   Add   " /></td>
                        <td style="display:none">@Puid</td>
                        <td style="display:none"></td>
                        <td style="display:none" ><input type="text" id="txt6" value="N" /></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</body>
</html>
